body 
{
    background: rgb(31, 30, 30) ;
    color: #333;
    text-align: right;
    font-family: "Arial";
    font-size: 16px;
    padding: 0;
}
#cabecera
{
    background: rgb(3, 172, 250);
    box-shadow: 0px 2px 20px 0px rgb(0, 102, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 1em;
    font-size: 50px;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#cabecera #imagen
{
    width: 90px;
    vertical-align:middle ;
}
#container
{
    width: 50%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
    text-align: center;
}
#post
{
    background: rgb(38, 44, 117);
    padding: 1em;
}
#footer
{
    background: #777;
    text-align: center;
    text-shadow: rgb(1, 255, 255);
    font-size: 15px;
}
.heart 
{
background-image: url(corazon.png);
cursor: pointer;
height: 100px;
width: 100px;
margin: 0 auto 0 auto;
}
.heart-animation 
{
    animation: heart-beat 0.8s steps(28) forwards;
}
@keyframes heart-beat 
{
    from{background-position: left;}
    to{background-position: right;}
}